@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

body {
  font-family: 'Libre Franklin';
  background-color: #d8dbd4;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  font-family: 'Libre Franklin';
  font-size: 36px;
  text-align: center;
  color: #111;
}

.button {
  background-color: #323232;
  color: whitesmoke;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope';
  font-size: 22px;
  font-weight: 600;
}

.button:hover {
  opacity: 0.9;
}
.button:active {
  position: relative;
  top: 1px;
}

.button:focus {
  outline: none;
}

#clear {
  background-color: #c52624;
  color: whitesmoke;
}

#equals,
#divide,
#add,
#subtract,
#multiply {
  background-color: #ffa502;
  color: whitesmoke;
}

#clear,
#zero {
  width: auto;
  border-radius: 25px;
}

#equals {
  height: auto;
  border-radius: 25px;
  background-color: #a5a5a5;
  color: #111;
}
/* THE ENTIRE THING */

#calculator-frame {
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* DAS FACE */

#calculator-face {
  display: grid;
  grid-template-areas:
    'display display display display'
    'clear clear divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* grid-gap: 1px; */
  width: 90%;
}

#display {
  grid-area: display;
  color: #fff;
  font-size: 30px;
  position: relative;
  margin: 20px 15px;
  text-align: right;
  width: 90%;
  font-family: 'Manrope';
}
